/* HEADER STYLING */
#header-container {
   width: 100%;
   border-bottom: 2px solid #717171;
   border-radius: 2%;
}

#header {
   width: 95%;
   margin: auto 5%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#header-logo {
   width: 100%;
   max-width: 450px;
   min-width: 200px;
}

#logo-link {
   width: 35%;
}

#nav-section {
   display: flex;
   justify-content: space-between;
}

ul {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   width: 100%;
   padding: 0;
   font-size: 14pt;
}

li {
   list-style: none;
   padding: 0;
   margin: 0 4px;
}

a {
   text-decoration: none;
}

a:link {
   color: black;
 }
 
 /* visited link */
a:visited {
   color: black;
 }
 
 /* mouse over link */
a:hover {
   color: #E31F36;
 }
 
 /* selected link */
a:active {
   color: black;
 }

/* FOOTER STYLING */
#footer-container {
   width: 100%;
   border-top: 2px solid #717171;
   border-radius: 2%;
   background-color: #b3b2b2;
}

#footer-image {
   width: 10%;
   margin-left: 5%;
}

