.main-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.posts-section {
    width: 60%;
    margin-bottom: 2rem;
}

.tags-section {
    width: 15%;
}

.third-section {
    width: 15%;
}

.latest-post {
    border: #717171 solid 1px;
    border-radius: 20px;
    margin: 1% 0;
    padding: 2%;
}

.posted {
    color: #717171;
    margin-right: 1rem;
}

.small-info {
    display: flex;
    margin-top: -1.75rem;
    font-size: smaller;
}

.small-info-container {

}

.tag-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
}

